<!DOCTYPE html>
<html>
    <head>
        <%- include("./head.ejs") %>
    </head>

    <body>
        <%- include("./nav.ejs") %>

        <div class="container">
            <h2>글 목록</h2>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">번호</th>
                        <th scope="col">제목</th>
                        <th scope="col">작성자</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var post of posts) { %>
                        <tr onclick="location.href='/post/<%=post.post_id %>'">
                            <th scope="row"><%=post.post_id %></th>
                            <td><%=post.title %></td>
                            <td><%=post.email %></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>

            <button type="button" class="btn btn-primary" onclick="location.href='/posts/create'">글쓰기</button>
        </div>
    </body>
</html>