<!DOCTYPE html>
<html>
    <head>
        <%- include("../head.ejs") %>
    </head>

    <body>
        <%- include("../nav.ejs") %>

        <div class="container">
            <input type="hidden" name="cnt" value="<%=comms.length %>">
            <div class="form-group">
                <label for="inputUser">작성자</label>
                <input type="text" class="form-control" id="inputUser" disabled value="<%=post.email %>">
            </div>
            <div class="form-group">
                <label for="inputHit">조회수</label>
                <input type="text" class="form-control" id="inputHit" disabled value="<%=post.hit %>">
            </div>
            <div class="form-group">
                <label for="inputTitle">제목</label>
                <input type="text" class="form-control" id="inputTitle" disabled value="<%=post.title %>">
            </div>
            <div class="form-group">
                <label for="inputContents">내용</label>
                <textarea class="form-control" id="inputContents" disabled rows="10"><%=post.contents %></textarea>
            </div>
            <button type="button" class="btn btn-info" onclick="location.href='/post/list'">목록</button>
            <% if(post.user_id == user.id) { %>
                <button type="button" class="btn btn-secondary" onclick="location.href='/post/edit/<%=post.post_id %>'">수정</button>
                <button type="button" class="btn btn-danger" onclick="location.href='/post/delete/<%=post.post_id %>'">삭제</button>
            <% } 
            if(!like) { %>
                <i class="fas fa-heart" style="font-size: 25px;" onclick="location.href='/post/like/<%=post.post_id %>'"></i>
            <% } else { %>
                <i class="far fa-heart" style="font-size: 25px;" onclick="location.href='/post/hate/<%=post.post_id %>'"></i>
            <% } %>
        </div>

        <div class="container" style="margin-top: 50px;">
            <form method="POST" action="/post/comment %>">
                <input type="hidden" name="postId" value="<%=post.post_id %>">
                <div class="form-group">
                    <label for="inputDesc"><strong>댓글 작성</strong></label>
                    <textarea name="desc" class="form-control" id="inputDesc" rows="2"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">완료</button>
            </form>
        </div>

        <div class="container" style="margin-top: 50px;">
            <% for(var comm of comms) { %>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td>
                                <h6>
                                    <strong><%=comm.email %>님의 댓글</strong>
                                    <% if(user.id == comm.user_id) { %>
                                        <button type="button" class="btn btn-danger" onclick="location.href='/post/comment/delete/<%=post.post_id %>/<%=comm.comm_id %>'">삭제</button>
                                    <% } %>
                                </h6>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <textarea disabled="" class="form-control" rows="3"><%=comm.description %></textarea>
                            </td>
                        </tr>
                    </tbody>
                </table>
            <% } %>
        </div>
    </body>
</html>