<!DOCTYPE html>
<html>
    <head>
        <%- include("../head.ejs") %>
    </head>

    <body>
        <%- include("../nav.ejs") %>

        <div class="container">
            <h2>글 목록</h2>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">번호</th>
                        <th scope="col">제목</th>
                        <th scope="col">작성자</th>
                        <th scope="col">조회수</th>
                        <th scope="col">좋아요</th>
                    </tr>
                </thead>
                <tbody>
                    <% posts.forEach(function(post, index) { %>
                        <tr onclick="location.href='/post/detail/<%=post.post_id %>'">
                            <th scope="row"><%=posts.length-index %></th>
                            <td>
                                <%=post.title %>
                                <% if(post.comms > 0) { %>
                                    <i class="far fa-comment-dots"></i>
                                    <%= post.comms %>
                                <% } %>
                            </td>
                            <td><%=post.email %></td>
                            <td><%=post.hit %></td>
                            <td><%=post.likes %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
            
            <button type="button" class="btn btn-primary" onclick="location.href='/post/create'">글쓰기</button>
        </div>
    </body>
</html>