<!DOCTYPE html>
<html>
    <head>
        <%- include("../head.ejs") %>
    </head>

    <body>
        <%- include("../nav.ejs") %>

        <div class="container">
            <h2>사용자 목록</h2>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">email</th>
                        <th scope="col">password</th>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach(function(user, index) { %>
                        <tr>
                            <th scope="row"><%=users.length-index %></th>
                            <td><%=user.email %></td>
                            <td><%=user.password %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>  
    </body>
</html>